.place__paragraphs {
    max-width: 484px;
    display: grid;
    grid-template-rows: min-content;
    row-gap: 26px;
    padding: 0;
    margin: 0;
}

@media (max-width:768px) {
    .place__paragraphs {
        row-gap: 25px;
    }
}