.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 64px 0;
}

@media (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media (max-width: 320px) {
    .lead__subtitle {
        margin: 0 16px 40px 16px;
        font-size: 16px;
        line-height: 20px;
    }
}