.place__link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}

@media (max-width: 510px) {
    .place__link {
        margin: 0;
    }
}